body {
    background-color: #242024;

    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 0.95fr);

    height: 30%;

    padding: 7px;
    margin: 0;
}

ul{
    list-style-type: none;
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
    gap: 5.5%;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    width: 80%;

    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
}

.articleFisk {
    color: white;

    display: grid;
    grid-template-columns: repeat(1, 0.5fr);
    width: 80%;
}

.kevins {
    height: 150px;
    width: 250px;
}

.kevinsContainer {
    align-items: center;
}