<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrey - Jag</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- Länk till font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
    </style>
</head>
<body>
    <header>
        <div>
            <p class="andrey">Andrey</p>
        </div>

        <nav>
            <ul>
                <li><a href="../templates/index.html">Hem</a></li>
                <li><a href="../templates/about.html">Jag</a></li>
                <li><a href="../templates/qualifications.html">Kompetenser</a></li>
                <li><a href="../templates/projectst.html">Projekt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <article class="articleFisk">
                <h1 class="mainHeading">Om mig</h1>

                <h2>Andrey Fedotkin</h2>

                <p>Mitt namn är Andrey Fedotkin och jag går sista året på Teknikprogrammet med inriktning Informations- och medieteknik, specialiserad mot mjukvaruutveckling. </p> 
                <p>Genom mina studier har jag utvecklat ett starkt intresse för webbutveckling och digitalt skapande, med tyngdpunkt på att kombinera estetisk utformning med teknisk funktionalitet.</p> 
                <p>För närvarande fokuserar jag på att stärka mina kunskaper inom backend-utveckling, främst genom fördjupning i Python och genom att utforska hur JavaScript kan användas för att skapa mer avancerad funktionalitet och interaktivitet på webben.</p> 
            
            </article>

            <article class="articleFisk1">
                <img class="articleFisk1Profil" src="../static/portfolio_profil.png" alt="">
            </article>

            <p class="pOfArticleFisk1">... <br> 
                ...</p>
        </section>
    </main>
</body>
</html>