    <!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- Länk till font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
    </style>
</head>
<body>
    <header>
        <div>
            <p class="andrey">Andrey</p>
        </div>

        <nav>
            <ul>
                <li><a href="../templates/index.html">Hem</a></li>
                <li><a href="../templates/about.html">Jag</a></li>
                <li><a href="../templates/qualifications.html">Kompetenser</a></li>
                <li><a href="../templates/projectst.html">Projekt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <article class="articleFisk">
                <h1 class="welcomeHeading">Välkommen!</h1>

                <h3>Uppkomande webbutvecklare</h3>

                <p>Jag heter Andrey Fedotkin och studerar sista året på Teknikprogrammet med inriktning Informations- och medieteknik samt fördjupning inom mjukvaruutveckling. Mitt huvudsakliga fokus ligger på frontend-utveckling, där jag har god färdighet inom HTML och CSS för att skapa strukturerade och funktionella webbgränssnitt.</p>
            </article>

            <article class="articleFisk1">
                
            </article>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>