    <!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div>
            <h2>Andrey Fedotkin</h2>
            <p>Uppkommande webbutvecklare</p>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#about">Om mig</a></li>
            <li><a href="#skills">Kompetenser</a></li>
            <li><a href="#projects">Projekt</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h3 id="about">Om mig</h3>
            <p></p>
            <article></article>
            <a href="../templates/projectst.html"></a>
        </section>

        <section>
            <h3 id="skills">Kompetenser</h3>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>