<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrey - Kompetenser</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- Länk till font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
    </style>
</head>
<body>
    <header>
        <div>
            <p class="andrey">Andrey</p>
        </div>

        <nav>
            <ul>
                <li><a href="../templates/index.html">Hem</a></li>
                <li><a href="../templates/about.html">Jag</a></li>
                <li><a href="../templates/qualifications.html">Kompetenser</a></li>
                <li><a href="../templates/projectst.html">Projekt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <article class="articleFisk">
                <h1 class="mainHeading">Kompetenser</h1>

                <p>Min kärnkompetens ligger framför allt inom frontend-utveckling, där jag har god vana av att arbeta med HTML och CSS för att bygga välstrukturerade gränssnitt. Utöver detta har jag erfarenhet av språk som Python, JavaScript och C#. </p>

                <p>Också har jag en utpräglad pragmatisk inställning till mina projekt: när jag ställs inför en uppgift går jag in med fullt fokus och arbetar uthålligt tills problemet är löst och målet uppnått. Samtidigt värderar jag den sociala aspekten av utvecklingsarbetet högt. Min kommunikativa sida gör det naturligt för mig att diskutera idéer, ställa frågor och hjälpa andra i teamet eller klassen, vilket ofta leder till effektiva problemlösningsprocesser och ett starkt utbyte av kunskap. Denna balans mellan teknisk nyfikenhet, målinriktad arbetsmoral och samarbetsförmåga är vad som driver mitt lärande framåt i utvecklingen av nya projekt.</p>

                <p>Med det sagt talar jag också på tre språk på en utökad nivå som inkluderar bl. a. Svenska (modersmål/C2), Engelska (C2), Ryska (B2) och en god förståelse inom Spanska (A2)</p>
                <p> <i> OBS! <br> 
                    INGA GRADERINGAR ÄR OFFICIELLA </i></p>
            </article>

            <article class="articleFisk1">
                
            </article>

            <p class="pOfArticleFisk1">... <br> 
                ...</p>
        </section>
    </main>
</body>
</html>